.a, .b, .c {
    fill: None;
    stroke-width: 6px;
}

.a, .b {
    stroke: red
}

.b {
    stroke: orange
}

.c {
    stroke: blue
}

.whitebg {
    fill: None;
    stroke-width: 9px;
    stroke: white
}
